name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macOS-latest]
        python-version: [3.9]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2.2.0
        with:
          activate-environment: my-environment
          environment-file: Project/IronOxidationSimulator/config/environment.yml
          python-version: ${{ matrix.python-version }}
          auto-activate-base: false

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          conda env update --file Project/IronOxidationSimulator/config/environment.yml --prune
          conda list
      - name: Show Python version
        shell: bash -l {0}
        run: python --version

      - name: Install PyInstaller
        shell: bash -l {0}
        run: pip install pyinstaller

      - name: Build with PyInstaller
        shell: bash -l {0}
        run: |
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            pyinstaller --onefile --paths "./Project/IronOxidationSimulator/src" --add-data "./Project/IronOxidationSimulator/assets;./assets" .\Project\IronOxidationSimulator\src\mainwindow.py
          else
            pyinstaller --onefile --paths "./Project/IronOxidationSimulator/src" --add-data "./Project/IronOxidationSimulator/assets:./assets" ./Project/IronOxidationSimulator/src/mainwindow.py
          fi

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: MyApplication-${{ matrix.os }}
          path: dist/
